.l5r4.pc{
  display: flex;
  flex-direction: column;

  .misc{
    height: 100%;
  }
  .editor .editor-content {
    min-height: 400px;
  }

  .pc-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .traits-rings{
    display: flex;
    flex-direction: row;
  }

  .air-ring-img{
    border: none;
    content: @air-ring-img;
  }
  .water-ring-img{
    border: none;
    content: @water-ring-img;
  }
  .earth-ring-img{
    border: none;
    content: @earth-ring-img;
  }
  .fire-ring-img{
    border: none;
    content: @fire-ring-img;
  }
  .void-ring-img{
    border: none;
    content: @void-ring-img;
  }
  

  h2{
    display: flex;
    flex-direction: row;

    .item-create {
      margin-left: auto;
    }
  }


}