@font-face {
  font-family: "Brushtip";
  src: url("assets/fonts/BrushtipTexe.ttf");
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSH___.TTF");
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSIH__.TTF");
  font-style: italic;
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSSCH_.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "Rotis Serif";
  src: url("assets/fonts/RotisSerif.otf");
}
@font-face {
  font-family: "Rotis Serif";
  src: url("assets/fonts/RotisSerifStd-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Rotis Semi Serif";
  src: url("assets/fonts/RotisSemiSerifStd.otf");
}
@font-face {
  font-family: "Rotis Semi Sans";
  src: url("assets/fonts/RotisSemiSansStd.otf");
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-Book.otf");
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-BookItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-Bold.otf");
}
.l5r4.sheet.item form {
  display: flex;
  flex-direction: column;
}
.l5r4.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.l5r4.sheet.item .sheet-content .editor {
  height: 100%;
}
.l5r4.sheet.item td {
  text-align: center;
}
.l5r4.pc .ranks {
  text-align: center;
  text-align-last: center;
  align-items: center;
}
.l5r4.pc .ranks .rank-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex: 0 1 auto;
}
.l5r4.pc .ranks select {
  font-size: 1em;
}
.l5r4.pc .ranks input {
  border: none;
  margin-bottom: 0.25em;
  flex-shrink: 7;
}
.l5r4.pc .combat-stats .initiative-table {
  display: flexbox;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.l5r4.pc .combat-stats input {
  border: none;
  margin-bottom: 0.25em;
  flex-shrink: 7;
}
.l5r4.pc textarea {
  resize: none;
}
.l5r4.pc .main-sheet {
  display: flex;
  flex-flow: row;
  width: fit-content;
}
.l5r4.pc .main-sheet .main-stats {
  order: 1;
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l5r4.pc .main-sheet .sidebar {
  order: 2;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l5r4.pc .main-sheet .actor-img {
  width: 256px;
  border: none;
  border-radius: 8px;
}
.l5r4.pc .main-sheet input {
  flex: 1;
}
.l5r4.pc .main-sheet select {
  border: none;
  text-align: center;
}
.l5r4.pc {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .misc {
  height: 100%;
}
.l5r4.pc .editor .editor-content {
  min-height: 400px;
}
.l5r4.pc .pc-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.l5r4.pc .traits-rings {
  display: flex;
  flex-direction: row;
}
.l5r4.pc .air-ring-img {
  border: none;
  content: url("assets/icons/air.png");
}
.l5r4.pc .water-ring-img {
  border: none;
  content: url("assets/icons/water.png");
}
.l5r4.pc .earth-ring-img {
  border: none;
  content: url("assets/icons/earth.png");
}
.l5r4.pc .fire-ring-img {
  border: none;
  content: url("assets/icons/fire.png");
}
.l5r4.pc .void-ring-img {
  border: none;
  content: url("assets/icons/void.png");
}
.l5r4.pc h2 {
  display: flex;
  flex-direction: row;
}
.l5r4.pc h2 .item-create {
  margin-left: auto;
}
.l5r4.pc .wounds {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .wounds-grid {
  display: grid;
  flex: 1;
  max-height: 100%;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "wn wv wm wmv" "wl wp wt wc" "lvl0 lvl0p lvl0t lvl0c" "lvl1 lvl1p lvl1t lvl1c" "lvl2 lvl2p lvl2t lvl2c" "lvl3 lvl3p lvl3t lvl3c" "lvl4 lvl4p lvl4t lvl4c" "lvl5 lvl5p lvl5t lvl5c" "lvl6 lvl6p lvl6t lvl6c" "lvl7 lvl7p lvl7t lvl7c";
}
.l5r4.pc .wounds-name {
  grid-area: wn;
  font-weight: bold;
}
.l5r4.pc .wounds-value {
  grid-area: wv;
  font-weight: bold;
}
.l5r4.pc .wounds-mod {
  grid-area: wm;
  font-weight: bold;
}
.l5r4.pc .wounds-name-value {
  grid-area: wmv;
  font-weight: bold;
}
.l5r4.pc .wounds-level {
  grid-area: wl;
  font-weight: bold;
}
.l5r4.pc .wounds-penalty {
  grid-area: wp;
  font-weight: bold;
}
.l5r4.pc .wounds-total {
  grid-area: wt;
  font-weight: bold;
}
.l5r4.pc .wounds-current {
  grid-area: wc;
  font-weight: bold;
}
.l5r4.pc .wounds-lvl-name-0 {
  grid-area: lvl0;
}
.l5r4.pc .wounds-lvl-penalty-0 {
  grid-area: lvl0p;
}
.l5r4.pc .wounds-lvl-value-0 {
  grid-area: lvl0t;
}
.l5r4.pc .wounds-lvl-current-0 {
  grid-area: lvl0c;
}
.l5r4.pc .wounds-lvl-name-1 {
  grid-area: lvl1;
}
.l5r4.pc .wounds-lvl-penalty-1 {
  grid-area: lvl1p;
}
.l5r4.pc .wounds-lvl-value-1 {
  grid-area: lvl1t;
}
.l5r4.pc .wounds-lvl-current-1 {
  grid-area: lvl1c;
}
.l5r4.pc .wounds-lvl-name-2 {
  grid-area: lvl2;
}
.l5r4.pc .wounds-lvl-penalty-2 {
  grid-area: lvl2p;
}
.l5r4.pc .wounds-lvl-value-2 {
  grid-area: lvl2t;
}
.l5r4.pc .wounds-lvl-current-2 {
  grid-area: lvl2c;
}
.l5r4.pc .wounds-lvl-name-3 {
  grid-area: lvl3;
}
.l5r4.pc .wounds-lvl-penalty-3 {
  grid-area: lvl3p;
}
.l5r4.pc .wounds-lvl-value-3 {
  grid-area: lvl3t;
}
.l5r4.pc .wounds-lvl-current-3 {
  grid-area: lvl3c;
}
.l5r4.pc .wounds-lvl-name-4 {
  grid-area: lvl4;
}
.l5r4.pc .wounds-lvl-penalty-4 {
  grid-area: lvl4p;
}
.l5r4.pc .wounds-lvl-value-4 {
  grid-area: lvl4t;
}
.l5r4.pc .wounds-lvl-current-4 {
  grid-area: lvl4c;
}
.l5r4.pc .wounds-lvl-name-5 {
  grid-area: lvl5;
}
.l5r4.pc .wounds-lvl-penalty-5 {
  grid-area: lvl5p;
}
.l5r4.pc .wounds-lvl-value-5 {
  grid-area: lvl5t;
}
.l5r4.pc .wounds-lvl-current-5 {
  grid-area: lvl5c;
}
.l5r4.pc .wounds-lvl-name-6 {
  grid-area: lvl6;
}
.l5r4.pc .wounds-lvl-penalty-6 {
  grid-area: lvl6p;
}
.l5r4.pc .wounds-lvl-value-6 {
  grid-area: lvl6t;
}
.l5r4.pc .wounds-lvl-current-6 {
  grid-area: lvl6c;
}
.l5r4.pc .wounds-lvl-name-7 {
  grid-area: lvl7;
}
.l5r4.pc .wounds-lvl-penalty-7 {
  grid-area: lvl7p;
}
.l5r4.pc .wounds-lvl-value-7 {
  grid-area: lvl7t;
}
.l5r4.pc .wounds-lvl-current-7 {
  grid-area: lvl7c;
}
.l5r4.pc .rate-heal {
  display: flexbox;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.l5r4.pc .rate-heal input {
  border: none;
  margin-bottom: 0.25em;
  flex-shrink: 7;
}
.l5r4.pc .equipment-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.l5r4.pc .equipment-list .item-border {
  padding-inline: 0.5rem;
}
.l5r4.pc .weapons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: spa;
}
.l5r4.pc .weapons-list img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .weapon-name {
  display: flex;
  flex-direction: row;
}
.l5r4.pc .armors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l5r4.pc .armors-list input {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .skills {
  display: flex;
  flex-direction: column;
}
.l5r4.pc .skills h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.l5r4.pc .skills .skill-item {
  display: flex;
  flex-direction: row;
}
.l5r4.pc .skills .skill-item img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .skills .skill-item .skill-value {
  width: 3ch;
  text-align: center;
}
.l5r4.pc .skills .skill-item .skill-emphasis {
  margin-top: auto;
}
.l5r4.pc .spells-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.l5r4.pc .spells-list .item-border {
  padding-inline: 0.5rem;
}
.l5r4.pc .armors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l5r4.pc .armors-list input {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .pc-armor-grid {
  display: grid;
  flex: 1;
  max-height: 100%;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "armorbase basevalue" "armorbonus bonusvalue" "armormod modvalue" "totalarmor armorvalue";
}
.l5r4.pc .armor-tn-base {
  grid-area: armorbase;
  font-weight: bold;
}
.l5r4.pc .armor-tn-value {
  grid-area: basevalue;
}
.l5r4.pc .armor-tn-armor-bonus {
  grid-area: armorbonus;
  font-weight: bold;
}
.l5r4.pc .armor-tn-armor-bonus-value {
  grid-area: bonusvalue;
}
.l5r4.pc .armor-tn-mod {
  grid-area: armormod;
  font-weight: bold;
}
.l5r4.pc .armor-tn-mod-value {
  grid-area: modvalue;
}
.l5r4.pc .armor-tn-current {
  grid-area: totalarmor;
  font-weight: bold;
}
.l5r4.pc .armor-tn-current-value {
  grid-area: armorvalue;
}
.l5r4.npc .editor .editor-content {
  min-height: 400px;
}
.l5r4.npc .top {
  display: flex;
  flex-flow: row;
  width: fit-content;
}
.l5r4.npc .bottom {
  display: flex;
  flex-flow: row;
  width: fit-content;
}
.l5r4.npc .actor-img {
  width: 256px;
  max-height: 256px;
  border: none;
  border-radius: 8px;
}
.l5r4.npc input {
  width: 2rem;
}
.l5r4.npc .damage-type {
  width: fit-content;
}
.l5r4.npc .npc-name {
  display: flex;
}
.l5r4.npc .npc-name-in {
  width: fit-content;
}
.l5r4.npc .npc-damage1 {
  display: flex;
}
.l5r4.npc .npc-damage2 {
  display: flex;
}
.l5r4.npc .npc-wounds {
  display: flex;
  flex-flow: column;
}
.l5r4.npc .npc-wounds .npc-wounds-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.l5r4.npc .npc-wounds .npc-wound-lvls {
  display: flex;
  flex-flow: column;
  text-align-last: justify;
}
.l5r4.npc .npc-skills {
  display: flex;
  flex-direction: column;
}
.l5r4.npc .npc-skills h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.l5r4.npc .npc-skills h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.l5r4.npc .npc-skills .skill-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.l5r4.npc .npc-skills .skill-item img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.npc .npc-skills .skill-item input {
  width: fit-content;
  min-width: 0;
}
.l5r4.npc .npc-skills .skill-item .skill-value {
  width: 3ch;
  text-align: center;
}
.l5r4.npc .npc-stats {
  display: flex;
  flex-flow: column;
}
.l5r4.npc .npc-stats img {
  height: 1rem;
  width: 1rem;
  border: none;
}
.l5r4.pc .limited-sheet {
  flex-flow: column;
}
.l5r4.pc .limited-sheet .actor-img {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 8px;
}
.l5r4.pc .limited {
  display: flex;
  flex-flow: column;
}
.l5r4.pc .limited .limited-info {
  display: flex;
  flex-flow: column;
}
body {
  background: url("assets/textures/background.webp") no-repeat center;
  background-size: cover;
}
body > * {
  scrollbar-width: thin;
}
.l5r4.pc {
  font-family: "Rotis Serif";
}
.l5r4.pc .window-content {
  background: #fffae6 url("assets/textures/scroll2.webp") no-repeat;
  background-size: cover;
}
.l5r4.pc input,
.l5r4.pc select,
.l5r4.pc textarea {
  background: none;
  border: none;
  background-color: #d6cd9fa3;
}
.l5r4.pc .title {
  font-family: "Rotis Serif";
  text-transform: none;
  font-weight: bold;
}
.l5r4.pc .pc-info {
  font-family: "Rotis Serif";
  text-transform: none;
  background: url("assets/textures/brush.webp") no-repeat 0 0;
  background-size: 100% 100%;
}
.l5r4.pc .pc-info input {
  background-color: transparent;
}
.l5r4.npc {
  font-family: "Rotis Serif";
}
.l5r4.npc .window-content {
  background: #fffae6 url("assets/textures/scroll2.webp") no-repeat;
  background-size: cover;
}
.l5r4.npc input,
.l5r4.npc select,
.l5r4.npc textarea {
  background: none;
  border: none;
  background-color: #d6cd9fa3;
}
.l5r4.npc .title {
  font-family: "Rotis Serif";
  text-transform: none;
  font-weight: bold;
}
.l5r4.npc .top {
  font-family: "Rotis Serif";
  text-transform: none;
  background: url("assets/textures/brush.webp") no-repeat 0 0;
  background-size: 75% 100%;
  background-position-x: 117%;
}
