<section class="stats">
  <label class="pc-info">
    <div>
      <h3 class="title">{{localize "l5r4.traits.name"}}</h3>
      <input type="text" name="name" value="{{actor.name}}" placeholder="Name" />
      <h3 class="title">{{localize "l5r4.ranks.insightRank"}}</h3>
      <input type="number" name="data.insight.rank" value="{{data.insight.rank}}" data-type="Number" />
    </div>
    <div>
      <h3 class="title">{{localize "l5r4.traits.clan"}}</h3>
      <input name="data.clan" type="text" value="{{data.clan}}" />
      <h3 class="title">{{localize "l5r4.traits.xp"}}</h3>
      <input type="number" name="data.xp" value="{{data.xp}}" data-type="Number" />
    </div>
    <div>
      <h3 class="title">{{localize "l5r4.traits.school"}}</h3>
      <input type="text" name="data.school" value="{{data.school}}" data-type="String" />
      <h3 class="title">{{localize "l5r4.traits.insight"}}</h3>
      <input type="number" name="data.insight.points" value="{{data.insight.points}}" data-type="Number" />
    </div>
  </label>
  <label class="traits-rings">
    <div>
      <div class="sheet-col">
        <a class="ring-roll" data-ring-rank="{{data.rings.air}}" data-ring-name="{{localize "l5r4.rings.air"}}">
          <img src="systems/l5r4/assets/icons/air.png" title="{{localize "l5r4.mech.ringRoll"}}" class="air-ring-img" />
        </a>
        <h3>{{localize "l5r4.rings.air"}} {{data.rings.air}}</h3>
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.ref}}" data-trait-name="{{localize "l5r4.traits.ref"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.ref"}}</p>
        </a>
        <input name="data.traits.ref" type="number" value='{{data.traits.ref}}' data-type="Number" />
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.awa}}" data-trait-name="{{localize "l5r4.traits.awa"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.awa"}}</p>
        </a>
        <input type="number" value='{{data.traits.awa}}' name="data.traits.awa" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div>
        <a class="ring-roll" data-ring-rank="{{data.rings.earth}}" data-ring-name="{{localize "l5r4.rings.earth"}}">
          <img src="systems/l5r4/assets/icons/earth.png" title="{{localize "l5r4.mech.ringRoll"}}" class="earth-ring-img" />
        </a>
        <h3>{{localize "l5r4.rings.earth"}} {{data.rings.earth}}</h3>
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.sta}}" data-trait-name="{{localize "l5r4.traits.sta"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.sta"}}</p>
        </a>
        <input type="number" value='{{data.traits.sta}}' name="data.traits.sta" data-type="Number" />
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.wil}}" data-trait-name="{{localize "l5r4.traits.wil"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.wil"}}</p>
        </a>
        <input type="number" value='{{data.traits.wil}}' name="data.traits.wil" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div>
        <a class="ring-roll" data-ring-rank="{{data.rings.fire}}" data-ring-name="{{localize "l5r4.rings.fire"}}">
          <img src="systems/l5r4/assets/icons/fire.png" title="{{localize "l5r4.mech.ringRoll"}}" class="fire-ring-img" />
        </a>
        <h3>{{localize "l5r4.rings.fire"}} {{data.rings.fire}}</h3>
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.agi}}" data-trait-name="{{localize "l5r4.traits.agi"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.agi"}}</p>
        </a>
        <input type="number" value='{{data.traits.agi}}' name="data.traits.agi" data-type="Number" />
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.int}}" data-trait-name="{{localize "l5r4.traits.int"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.int"}}</p>
        </a>
        <input type="number" value='{{data.traits.int}}' name="data.traits.int" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div class="attribute">
        <a class="ring-roll" data-ring-rank="{{data.rings.water}}" data-ring-name="{{localize "l5r4.rings.water"}}">
          <img src="systems/l5r4/assets/icons/water.png" title="{{localize "l5r4.mech.ringRoll"}}" class="water-ring-img" />
        </a>
        <h3>{{localize "l5r4.rings.water"}} {{data.rings.water}}</h3>
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.str}}" data-trait-name="{{localize "l5r4.traits.str"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.str"}}</p>
        </a>
        <input type="number" value='{{data.traits.str}}' name="data.traits.str" data-type="Number" />
      </div>
      <div>
        <a class="trait-roll" data-trait-rank="{{data.traits.per}}" data-trait-name="{{localize "l5r4.traits.per"}}">
          <p title="{{localize "l5r4.mech.traitRoll"}}">{{localize "l5r4.traits.per"}}</p>
        </a>
        <input type="number" value='{{data.traits.per}}' name="data.traits.per" data-type="Number" />
      </div>
    </div>
    <div class="sheet-col">
      <div class="attribute">
        <a class="ring-roll" data-ring-rank="{{data.rings.void.rank}}" data-ring-name="{{localize "l5r4.rings.void"}}">
          <img src="systems/l5r4/assets/icons/void.png" title="{{localize "l5r4.mech.ringRoll"}}" class="void-ring-img" />
        </a>
        <h3>{{localize "l5r4.rings.void"}}</h3>
      </div>
      <div>
        <input type="number" name="data.rings.void.rank" value="{{data.rings.void.rank}}" data-type="Number" />
      </div>
      <div>
        <p>{{localize "l5r4.rings.voidPoints"}}</p>
        <input type="number" value='{{data.rings.void.value}}' name="data.rings.void.value" data-type="Number" />
      </div>
    </div>
  </label>

  {{> "systems/l5r4/templates/partials/pc-skills.hbs"}}
  {{> "systems/l5r4/templates/partials/pc-equipment.hbs"}}
  {{> "systems/l5r4/templates/partials/pc-spells-techniques.hbs"}}
  <h2>{{localize "l5r4.sheet.notes"}}</h2>
  
    {{editor content=data.notes target="data.notes" button=true owner=owner editable=true}}
  
</section>